@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");
.inputs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 6vh;
  margin-left: 30%;
  margin-right: 30%;
  background-color: hsla(0, 0%, 100%, 0.96);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.inputs > input {
  display: flex;
  margin-left: 10%;
}

.inputs > label {
  margin: 0;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 6%;
  height: 4vh;
  position: fixed;
  bottom: 0;
  padding: 10px;
  background-color: hsla(0, 0%, 100%, 0.96);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.buttons > button {
  display: flex;
  justify-content: center;
  width: 45%;
  height: 2.5rem;
  align-items: center;
  background-color: #e9ecef;
  font-family: "Nunito", sans-serif;
  border-radius: 4px;
  cursor: pointer;
  border-color: #e9ecef;
}

.fa {
  color: #181818;
}

.button1 {
  margin-right: 0.5rem;
}
